@font-face {
    font-family: 'dreadnought';
    src: url(fonts/dreadnoughts.ttf) format('truetype');
}



.topnav {
    font-family: 'dreadnought', san-serif;
    overflow: hidden;
}

.home { 
	width:244px;
	height:134px;
	position:absolute;
	left:40px;
	top:46px;
}

.dragontext {
    font-family: 'dreadnought', sans-serif;
    font-size: 36px;
    color: black;
    /* margin-bottom: 0em;  */
    
	width:235px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
    letter-spacing: 9.5px;
}

.warriortext {
    font-family: 'dreadnought', sans-serif;
    font-size: 36px;
    color: rgb(220,43,36);
    -webkit-text-stroke: 1px black;

    width:244px;
	height:94px;
	position:absolute;
	left:0px;
	top:40px;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}

.signin {
    font-family: 'dreadnought', sans-serif;
    font-size: 24px;

	color:rgba(255, 255, 255, 1);
	height:27px;
	position:absolute;
	right: 2%;
	top:53px;
	text-align:left;
    letter-spacing: 9.5px;
}

.main1{
	position:absolute;
    left: 15%;
	top: 807px;
	width: 85%;
	/* height: 30%; */
}

.dragonside { 
    position:absolute;
    /* left: 15%;
	top: 807px; */

    font-family: dreadnought;
	transform: rotate(-90deg);
    
    color: rgb(220,43,36);
    -webkit-text-stroke: 1px black;

	width: 0px;
	height:110px;
	text-align:left;
	font-size:96px;
	letter-spacing: 24px;
}

.information {
    position: relative;
	bottom: 622px;
	left: 110px;
    /* right: 50px;
	top: 0px; */

    width: 80%;
    height: px;

    display: inline-block;
    overflow-wrap: break-word;



}

.box2 {
	color: white;
	font-size: 24px;
	font-family: 'Helvetica';
    display: inline-block;
    overflow-wrap: break-word;
	overflow-x: hidden;
    overflow-y: auto;
	max-height: 580px;
  }

.tasks { 
    font-family:'dreadnought';

	color:rgba(255, 255, 255, 1);
	/* width:500px; */
    
	height:100px;
	/* position:absolute; */
	/* text-align:left; */
	font-size:76px;
    letter-spacing: 24px;

}